<form class="form-floating needs-validation" action="{{ url_for('.tagging', id=song.id) }}" method="POST">
	{{ tags_form.hidden_tag() }}
	{% if tags_form.errors %}
		{{ tags_form.errors }}
	{% endif %}
	{% for name in tags_form.name %}
		<div class="form-check form-switch">
		{% set is_checked = name.id in song.tags %}
		{% set a = name.id[5:] %}
		{% set aa = a|int + 1|int %}
		{{ name(class_="form-check-input", checked=tag_states[aa|int]) }}
		{{ name.label(class_="form-check-label") }}
		</div>
	{% endfor %}

	{{ tags_form.submit(class="btn btn-success") }}
</form>

