<form id="tags_form" class="form-floating needs-validation" method="POST">
	{{ tags_form.hidden_tag() }}
		

	{% if tags_form.errors %}
			{{ tags_form.errors }}
		{% endif %}
	{% for tag in tags %}
	<div class="form-check form-switch">
	  <input class="form-check-input" type="checkbox" id="{{ tag.id }}" name="tags" value="{{ tag.id }}" {% if tag_states[tag.id] %}checked{% endif %}>
	  <label class="form-check-label" for="{{ tag.id }}">{{ tag.name }}</label>
	</div>
	{% endfor %}

	{{ tags_form.submit(class="btn btn-success", form="tags_form") }}
</form>
