		<div class="row g-0">
			<div class="col-auto">
				
			<form class="row g-2" action method="post">
			
			{{ form.hidden_tag() }}
			{% if form.errors %}
				{{ form.errors }}
			{% endif %}
			{{ form.key.label }}
			{{ form.key(class="form-control") }}
			{{ form.submit(class="btn btn-success") }}
			</form>
			</div>
		</div>
		<br>
		<div class="row g-0">
			<div class="col-auto">
				{{ _('Original key:') }} {{ ori_key }}</div>
		</div>
		<div class="row g-0">		
			<div class="col-auto">
				Tags: 
				{% if tagged_list is not none %}
				{% for t in tagged_list %}
				<span class="badge bg-secondary">{{ t }}</span>
				{% endfor %}
				{% else %}
				{{ _('None') }}
				{% endif %}
			</div>
		</div>	
			
			
		<div class="row">
		<div class="col-8">
		{{ html|safe }}
		</div>
		<div class="col-4">
		
		<div class="card" style="width: 18rem;">
		  <div class="card-body">
			<h5 class="card-title">{{ _('Description') }}</h5>
			<h6 class="card-subtitle mb-2 text-muted">{{ _('Functionality and features') }}</h6>
			<p class="card-text">{{ _('Underneath of title and singer/author there are several tabs:') }}<br>
			<ul>
			  <li>{{ _('Lyrics with chords - is a current page with main features, which will be described below.') }}</li>
			  <li>{{ _('Lyrics - page without any chords.') }}</li>
			  <li>{{ _('Media - media section, where there will be links and players. Gives you a chance to listen, learn and prepare for service.') }}</li>
			  <li>{{ _('Translations - page to bind translation versions of current song to the database.') }}</li>
			</ul></p>

		  </div>
		</div>
		</div>
		</div>