<div class="container">
  <div class="row">
    <div class="col-10">
    <a class="btn btn-primary btn-sm" href="{{ url_for('manage_media', id=song.id) }}" role="button">Manage Media library</a>
    </form>
    <hr>
	</div>
	<div class="col-10">Images<br>
	<h1>File Upload</h1>
    <form action="{{ url_for('upload_images', id=song.id, mtype=3) }}" class="dropzone">
    </form>
    <hr>
    {% for image in media %}
      {% if image.mtype == 3 %}
	  <img src="{{ url_for('upload_i', filename=image.murl) }}" style="width: 64px;cursor:zoom-in" onclick="document.getElementById('modal{{ image.id }}').style.display='block'">
	{% endif %}
	{% endfor %}</div>
    <div class="col-4">Audio<br>
	
	</div>
    <div class="col-6">Video<br>
	<div class="embed-responsive embed-responsive-16by9">
		<iframe width="560" height="315" src="https://www.youtube.com/embed/DXDGE_lRI0E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
	  
		<iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PLsyvDWwjkTqtOmqAiTzzfHspTAztB-udL" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>

		<iframe width="560" height="315" src="https://www.youtube.com/embed/DXDGE_lRI0E" frameborder="0" gesture="media" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>
	</div>
  </div>
</div>
	{% for image in media %}
	{% if image.mtype == 3 %}
	<div id="modal{{ image.id }}" class="w3-modal" onclick="this.style.display='none'">
		<span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
		<div class="w3-modal-content w3-animate-zoom">
		  <img src="{{ url_for('upload_i', filename=image.murl) }}" style="width:100%">
		</div>
	  </div>
	</div>
	{% endif %}
	{% endfor %}