        <tr valign="top">
            <td>{{ song.id }}</td>
			<td><a href="{{ url_for('.view_song', id=song.id) }}">{{ song.title }}</a></td>
            <td>{{ song.singer }}</td>
			<td>{{ keyset[song.key] }}</td>
			<td>{{ lang[song.language] }}</td>
			<td>
			{% if keyword %}
			<form action="{{ url_for('.add_to_cart', songid=song.id, c=c, keyword=keyword ) }}" method="post">
						{{ form.hidden_tag() }}
						{{ form.submit(class_='btn btn-success btn-sm', value=_('Add to song folder')) }}
					</form>
			{% else %}
			<form action="{{ url_for('.add_to_cart', songid=song.id, c=c ) }}" method="post">
						{{ form.hidden_tag() }}
						{{ form.submit(class_='btn btn-success btn-sm', value=_('Add to song folder')) }}
					</form>{% endif %}</td>
        </tr>