<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
	{% if title %}
	{{ title }} - Global Victory Church
	{% else %}
	Welcome to GBL's Portal
	{% endif %}
	</title>
  	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	{% block head_js %}{% endblock %}
</head>

<body>
    <div class="container-xxl sticky-top">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<div class="container-fluid">
				 <a class="navbar-brand" href="{{ url_for('index') }}">Global Victory Church</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="{{ url_for('index') }}">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ url_for('explore') }}">Explore</a></li>
						<li class="nav-item"><a class="nav-link" href="{{ url_for('songbook') }}">Songbook</a></li>
						<li class="nav-item"><a class="nav-link" href="{{ url_for('tag_list') }}">Genre&Tags</a></li>
						<li class="nav-item"><a class="nav-link" href="{{ url_for('calendar') }}">Calendar</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						{% if current_user.is_anonymous %}
						<li class="nav-item"><a class="nav-link" href="{{ url_for('login') }}">Login</a></li>
						<li class="nav-item"><a class="nav-link disabled">Profile</a></li>
						{% else %}
						<li class="nav-item position-relative">
						<a class="nav-link" href="{{url_for('cart', username=current_user.username)}}">  
						  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-briefcase" viewBox="0 0 16 16">
  <path d="M6.5 1A1.5 1.5 0 0 0 5 2.5V3H1.5A1.5 1.5 0 0 0 0 4.5v8A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-8A1.5 1.5 0 0 0 14.5 3H11v-.5A1.5 1.5 0 0 0 9.5 1h-3zm0 1h3a.5.5 0 0 1 .5.5V3H6v-.5a.5.5 0 0 1 .5-.5zm1.886 6.914L15 7.151V12.5a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5V7.15l6.614 1.764a1.5 1.5 0 0 0 .772 0zM1.5 4h13a.5.5 0 0 1 .5.5v1.616L8.129 7.948a.5.5 0 0 1-.258 0L1 6.116V4.5a.5.5 0 0 1 .5-.5z"/>
</svg>
						  <!--<img src="{{ url_for('static', filename='icons/briefcase-fill.svg') }}" alt="" width="30" height="24" fill="currentColor" class="d-inline-block align-text-middle">-->
						  {% if current_user.cart %}
						  <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
							{{current_user.cart|length}}
							<span class="visually-hidden">Selected songs</span>
						  </span>{% endif %}<a/>
						</li>
						<li class="nav-item"><a class="nav-link" href="{{ url_for('user', username=current_user.username) }}">Profile</a></li>
						<li class="nav-item"><a class="nav-link" href="{{ url_for('logout') }}">Logout</a></li>
						{% endif %}
					</ul>
					<form class="d-flex">
						<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
						<button class="btn btn-outline-success" type="submit">Search</button>
					</form>
				</div>
			</div>
		</nav>
	</div>
	<div class="container-xxl">
{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}
	</div>
	
{% block scripts %}
	<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/howler.js') }}"></script>
    
{% endblock %}

</body>
</html>