{% extends "base.html" %}


{% block app_content %}
    <h1>{{ _('Edit current Song') }}</h1>
    <form class="form-floating needs-validation" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div class="row mb-3">
            {{ form.title.label(class_='col-sm-2 col-form-label') }}
			<div class="col-10">
            {{ form.title(class='form-control', style='min-width: 100%') }}<br>
            {% for error in form.title.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
			</div>
        </div>
		<div class="row mb-3">
            {{ form.singer.label(class_='col-sm-2 col-form-label') }}
			<div class="col-10">
            {{ form.singer(class='form-control', style='min-width: 100%') }}<br>
            {% for error in form.singer.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
			</div>
        </div>
        <div class="row mb-3">
            {{ form.info.label(class_='col-sm-2 col-form-label') }}
			<div class="col-10">
            {{ form.info(class='form-control', style='min-width: 100%', style='height: 100px') }}
            {% for error in form.info.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
			</div>      
		</div>
		<div class="row mb-3">
            {{ form.key.label(class_='col-sm-2 col-form-label') }}
			<div class="col-10">
            {{ form.key(class="form-control") }}
            {% for error in form.key.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
			</div>      
		</div>
		<div class="row mb-3">
            {{ form.language.label(class_='col-sm-2 col-form-label') }}
			<div class="col-10">
            {{ form.language(class="form-control") }}
            {% for error in form.language.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
			</div>      
		</div>
		<div class="row mb-3">
			<div class="col-2"></div>
			<div class="col-10">
				<a class="btn btn-secondary btn-sm" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
				  {{ _('Instructions') }}
				</a>
			</div>      
		</div>
		<div class="row mb-3">
            {{ form.lyrics.label(class_='col-sm-2 col-form-label') }}
			<div class="col-10">
            {{ form.lyrics(class='form-control', style='min-width: 100%', style='height: 400px') }}
            {% for error in form.lyrics.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
			</div>      
		</div>
        <div class="d-grid gap-2 col-2 mx-auto">
		{{ form.submit(class="btn btn-success") }}
		</div>
    </form>
	
<div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasLabel">{{ _('Instructions on text format') }}</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
	<div>
      {{ _('Here are the key instructions on how to properly input lyrics with chords and headings for each song section.') }}
	  <ul>
        <li>{{ _('Chords must be incased in square brackets: Eg.:') }} &#091; CHORD &#093;</li>
		<li>{{ _('Chords with bass chord inside square brackets are split with slash "&#47;": Eg.:') }} &#091;Cm#&#47;G#&#093;</li>
        <li>{{ _('This app identifies only Intro, Chorus, Verse #, Bridge, Instrumental encased in curly brackets.') }}</li>
        <li>{{ _('Chords must be located in front of a letter, where chord should be located.') }}</li>
      </ul>
    </div>
  </div>
</div>	

{% endblock %}