{% extends "base.html" %}


{% block app_content %}
    <h1>Edit current Song</h1>
    <form class="form-floating needs-validation" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div class="row mb-3">
            {{ form.title.label(class_='col-sm-2 col-form-label') }}
			<div class="col-10">
            {{ form.title(class='form-control', style='min-width: 100%') }}<br>
            {% for error in form.title.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
			</div>
        </div>
		<div class="row mb-3">
            {{ form.singer.label(class_='col-sm-2 col-form-label') }}
			<div class="col-10">
            {{ form.singer(class='form-control', style='min-width: 100%') }}<br>
            {% for error in form.singer.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
			</div>
        </div>
        <div class="row mb-3">
            {{ form.info.label(class_='col-sm-2 col-form-label') }}
			<div class="col-10">
            {{ form.info(class='form-control', style='min-width: 100%', style='height: 100px') }}
            {% for error in form.info.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
			</div>      
		</div>
		<div class="row mb-3">
            {{ form.key.label(class_='col-sm-2 col-form-label') }}
			<div class="col-10">
            {{ form.key(class="form-control") }}
            {% for error in form.key.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
			</div>      
		</div>
		<div class="row mb-3">
            {{ form.language.label(class_='col-sm-2 col-form-label') }}
			<div class="col-10">
            {{ form.language(class="form-control") }}
            {% for error in form.language.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
			</div>      
		</div>
		<div class="row mb-3">

			<div class="col-10">
				<a class="btn btn-secondary btn-sm" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
				  Instructions
				</a>
			</div>      
		</div>
		<div class="row mb-3">
            {{ form.lyrics.label(class_='col-sm-2 col-form-label') }}
			<div class="col-10">
            {{ form.lyrics(class='form-control', style='min-width: 100%', style='height: 400px') }}
            {% for error in form.lyrics.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
			</div>      
		</div>
        <div class="d-grid gap-2 col-2 mx-auto">
		{{ form.submit(class="btn btn-success") }}
		</div>
    </form>
	
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Offcanvas</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div>
      Some text as placeholder. In real life you can have the elements you have chosen. Like, text, images, lists, etc.
    </div>
    <div class="dropdown mt-3">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown">
        Dropdown button
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </div>
  </div>
</div>	

{% endblock %}