{% extends "base.html" %}

{% block app_content %}
    <br>
	<div class="row">
		<div class="col">
			<nav class="nav nav-pills justify-content-end">
				<a class="nav-link active" aria-current="page" href="{{ url_for('add_song') }}">{{ _('Add new song') }}</a>
				<a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">{{ _('Disabled') }}</a>
			</nav>
		</div>
	</div>	
	<br>
	<div class="row">	
		<div class="col-md-9 col-xs-12">
			<table class="table table-hover">
			<thead>
			  <tr>
				 <th class="d-none d-sd-block">{{ _('No.') }}</th>
				 <th>{{ _('Title') }}</th>
				 <th class="d-none d-sd-block">{{ _('Artist/singer') }}</th>
				 <th>{{ _('Key') }}</th>
				 <th class="d-none d-sd-block">{{ _('Language') }}</th>
				 <th>{{ _('Action') }}</th>
			  </tr>
			</thead>
			<tbody>
			{% for song in songs %}
				{% include '_song.html' %}
			{% endfor %}
			</tbody>
			</table>
		<nav class="nav justify-content-center flex-sm-row" aria-label="...">
			<ul class="pager list-unstyled list-group list-group-horizontal">
				<li class="previous{% if not prev_url %} disabled{% endif %} list-group-item">
					<a href="{{ prev_url or '#' }}">
						<span aria-hidden="true">&larr;</span> {{ _('Previous') }}
					</a>
				</li>
				<li class="next{% if not next_url %} disabled{% endif %} list-group-item">
					<a href="{{ next_url or '#' }}">
						{{ _('Next') }} <span aria-hidden="true">&rarr;</span>
					</a>
				</li>
			</ul>
		</nav>
		</div>
		<div class="col-md-3 col-xs-12">
		<div class="row"><table class="table table-responsive-sm table-hover">
			<thead>
			  <tr>
				 <th class="th-lg" scope="col">{{ _('Tag list') }}</th>
			  </tr>
			</thead>
			<tbody>
			{% for t in tags %}
				<tr valign="top">
					<td><a href="{{ url_for('.tag_songlist', tagid=t.id) }}">{{ t.name }}</a></td>
				</tr>
			{% endfor %}
			</tbody>
			</table></div>
	</div>
{% endblock %}

